<script src="/js/dom/Admin.js" defer></script>
<style>
  .table-responsive {
           max-height: 70vh;
           overflow-y: auto;
       }
</style>
 
    <%- include('./component/head') %>
    <body>
      <div class="wrapper">
        <%- include('./component/sidebar') %>
  
  
        <%- include('./component/navbar') %>

  
            <div class="container">
                <div class="page-inner">
                 
          
                  <div id="consultations" class="table-responsive">
                    <!-- Content will be populated here by JavaScript -->
                  </div>
                </div>
              </div>
  
             <%- include('./component/footer') %>
  
      </div>
      <%- include('./component/scirpt') %>
  
   
  