
<script src="/js/dom/history.js" defer></script> 

    <%- include('./component/head') %>
    <body>
      <div class="wrapper">
        <%- include('./component/sidebarUser') %>
  
  
       
            <%- include('./component/navbar') %>
  
            <div class="container mt-4">
              <div class="page-inner">
                <h1 class="my-4">HIstory Consultations</h1>
                <div id="userConsultations" class="row"></div>
              </div>
            </div>
             <%- include('./component/footer') %>
  
      </div>
      <%- include('./component/scirpt') %>
  
   
  